.Contact {
  -webkit-box-shadow: 0px 0px 42px -5px rgba(250, 235, 137, 0.73);
  -moz-box-shadow: 0px 0px 42px -5px rgba(250, 235, 137, 0.73);
  box-shadow: 0px 0px 42px -5px rgba(250, 235, 137, 0.73);
  padding: 20px;
  position: relative;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Contact button {
  margin: 10px auto;
}
